.formTypeA {
  margin: 1.5rem 9rem;
  padding: 3rem;
  background-color: #fafaf9;
  border-radius: 0.75rem;
  box-shadow: 0.09rem 0.09rem 0.3rem #2c1a1d;
}

.formTypeA .splitSpace > div {
  width: 100%;
}

.formTypeA h1 {
  text-decoration: underline #065f46;
  margin-top: 0rem;
}

.formTypeA h3 {
  margin-top: 0.6rem;
  margin-left: 0rem;
}

.formTypeA h4 {
  margin-top: 0.6rem;
  margin-bottom: 0rem;
}

.formTypeA p {
  margin: 0rem;
}

.formTypeA .textInput {
  width: 100%;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.formTypeA .textInput label {
  display: inline-block;
  margin-bottom: 0.09rem;
}

.formTypeA .textInput input,
.formTypeA .textInput textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 0.48rem;
  background-color: #e5e5e5;
  border: none;
  border-radius: 0.15rem;
  resize: none;
}

.formTypeA .textInput.withButton input,
.formTypeA .textInput.withButton textarea {
  width: calc(100% - 3.6rem);
}

.formTypeA .textInput.withButton button {
  vertical-align: top;
  margin: 0rem;
  margin-top: 2.4rem;
  margin-left: 0.6rem;
  box-sizing: border-box;
  width: 3rem;
  height: 1.5rem;
}

.formTypeA input:focus,
.formTypeA textarea:focus {
  outline-color: #065f46;
}

.formTypeA .newIngredientDiv {
  padding: 0.3rem;
}

.formTypeA .newIngredientDiv input,
.formTypeA .newIngredientDiv select {
  box-sizing: border-box;
  padding: 0.48rem;
  background-color: #e5e5e5;
  border: none;
  border-radius: 0.15rem;
}

.formTypeA .newIngredientDiv input {
  margin-right: 0.3rem;
  width: calc(35% - 0.15rem);
}

.formTypeA .newIngredientDiv select {
  width: calc(65% - 0.15rem);
}

.formTypeA .newIngredientDiv .activeSearchBar input {
  margin-top: 0.3rem;
  width: 100%;
}
