:root {
  background-color: rgba(72, 89, 95, 0.801);
}
:root {
  background-color: #cbd5e1;
}

body {
  margin: 0rem;
}

main {
  padding: 0.3em;
}
.searchBar {
  border-radius: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: white;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.buttonContainer {
  margin-top: 1rem;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.buttonContainer button {
  background-color: lightblue;
  border-radius: 0.15rem;
  padding: 0.3rem;
  border: 0.09rem solid black;
  width: fit-content;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.settingsPage {
  margin-left: auto;
  margin-right: auto;
  width: 40.6em;
  justify-content: center;
  display: flex;
  margin-top: 1.5rem;
  gap: 0.6rem;
}

button {
  width: 100%;
  border: 0.09rem solid black;
  background-color: lightblue;
  padding: 0.06rem;
  border-radius: 0.15rem;
  text-align: center;
  text-decoration: none;
  color: black;
}

button:hover {
  cursor: pointer;
}

.lastButton {
  position: absolute;
  width: calc(100% - 2em);
  bottom: 1em;
  left: 1em;
}

.topMargin {
  margin-top: 1rem;
}
