.loginForm {
  margin: auto;
  margin-top: 6rem;
  width: 100%;
  max-width: 18rem;
  padding: 3rem;
  padding-bottom: 4rem;
  color: white;
  backdrop-filter: blur(12px) brightness(40%);
  border: 0.1rem solid #57534e;
  border-radius: 0.375rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
@media only screen and (max-width: 600px) {
  .loginForm {
    padding: 1rem;
    max-width: 15rem;
  }
}
.loginForm h1 {
  margin-bottom: 0.25rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.loginForm .textInput {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.loginForm .textInput input {
  display: block;
  width: 100%;
  background: none;
  padding-top: 0.3rem;
  padding-bottom: 0.15rem;
  padding-left: 0rem;
  padding-right: 0rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border: none;
  border-bottom: 2px solid #cccccc;
  border-radius: 0rem;
  box-shadow: none;
  appearance: none;
  transition: all 0.3s ease-in-out;
  color: white;
}

.loginForm .textInput input:focus {
  margin: 0rem;
  border: none;
  border-bottom: 2px solid #34d399;
  outline: none;
}

.loginForm .textInput label {
  pointer-events: none;
  margin: 0rem;
  padding: 0rem;
  position: absolute;
  font-size: 0.875rem;
  line-height: 1.25rem;
  transition: all 0.18s ease-in-out;
  transform: translateY(-1.5rem);
}

.loginForm .textInput input:focus + label {
  transform: translateY(-2.5rem);
  color: #34d399;
  font-size: 0.75rem;
  line-height: 1rem;
}

.loginForm .textInput input:not(:placeholder-shown) + label {
  transform: translateY(-2.5rem);
  font-size: 0.75rem;
  line-height: 1rem;
}

.loginForm button {
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 5rem;
  background-color: #ffffff;
  box-shadow: none;
  border: none;
  color: #065f46;
  transition: all 0.1s ease-in-out;
}

.loginForm button:hover {
  color: #ffffff;
  background-color: #065f46;
  cursor: pointer;
}

.loginForm p {
  margin: 0rem;
  margin-top: 1rem;
  padding: 0rem;
}

.loginForm a {
  margin: 0rem;
  padding: 0rem;
  color: #60a5fa;
}

.loginForm .checkboxInput input {
  accent-color: #34d399;
}
