.userPin {
  margin-top: 1.5rem;
  padding: 2rem;
  width: 36rem;
  height: 24rem;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.userPin p {
  font-size: 1rem;
  display: inline;
}
.userPin h1 {
  font-size: 1.5rem;
  display: inline;
}
.userPin textarea {
  font-size: 0.8rem;
  width: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  height: auto;
  display: inline;
}
.profile {
  margin: 1.5rem auto;
  width: 50rem;
  display: flex;
  justify-content: center;
}

.profile .buttonDiv {
  display: inline-block;
  vertical-align: bottom;
  height: 0%;
}

.profileButtons {
  display: flex;
  flex-direction: column;
  float: inline-end;
  align-items: center;
  margin-top: auto;
}
.fields {
  display: flex;
  flex-direction: column;
}
.userRow {
  display: flex;
  flex-direction: row;
}
.userRow input {
  margin: auto;
  margin-right: 0;
  height: fit-content;
  padding: 0.5rem;
  width: 28%;
}
.profileSplit {
  margin: auto;
  width: 15rem;
}
.profileInfo {
  display: flex;
  flex-direction: column;
}

profile button {
  width: calc(100% - 9rem);
  margin: 0rem 4.5rem;
  padding: 0.3rem 0.6rem;
  background-color: #f6eee3;
  font-size: 1.2rem;
  color: #4a4a4a;
  border: 2px solid #4a4a4a;
  border-radius: 3rem;
  transition: 0.15s ease-in-out;
}
profile button &:hover {
  color: #f6eee3;
  background-color: #575757;
  cursor: pointer;
}
