.searchDiv {
  display: inline-flex;
  float: inline-end;
}
.searchDiv button {
  margin-left: 10px;
  margin-right: 5px;
  padding: 0.375rem 0.5rem 0.5rem;
}
.searchDiv input {
  border-radius: 0.25rem;
  padding-left: 1rem;
}
